<!DOCTYPE html>
<html>
  <head>
    <title>Articles</title>
    <link rel="stylesheet" href="home.css">
  </head>

  <body>
    <h1>Articles <a href="/articles/new">submitted</a></h1>
    <ul>
      <% @articles.each do |article| %>
      <ul>
        <li><%= article.title %></li>
        <li><a href="http://<%= article.url %>" target="_blank"><%= article.url %></a></li>
        <li><%= article.description %></li>
      </ul>
      <% end %>
    </ul>
  </body>
</html>
